{% extends 'base.html.twig' %}
{% block title %}
<title> products </title>
{% endblock %}


{% block body %}
<div id="breadcrumbs">
		<div class="container">
			<ul>
				<li><a href="{{ path('app_index') }}">Home</a></li>
				<li>Product results</li>
			</ul>
		</div>
		<!-- / container -->
	</div>
	<!-- / body -->

	<div id="body">
		<div class="container">
			<div class="pagination">
				<ul>
					<li><a href="#"><span class="ico-prev"></span></a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#"><span class="ico-next"></span></a></li>
				</ul>
			</div>
			<div class="products-wrap">
				<aside id="sidebar">
					<div class="widget">
						<h3>Products per page:</h3>
						<fieldset>
							<input checked type="checkbox">
							<label>8</label>
							<input type="checkbox">
							<label>16</label>
							<input type="checkbox">
							<label>32</label>
						</fieldset>
					</div>
					<div class="widget">
						<h3>Sort by:</h3>
						<fieldset>
							<input checked type="checkbox">
							<label>Popularity</label>
							<input type="checkbox">
							<label>Date</label>
							<input type="checkbox">
							<label>Price</label>
						</fieldset>
					</div>
					<div class="widget">
						<h3>Condition:</h3>
						<fieldset>
							<input checked type="checkbox">
							<label>New</label>
							<input type="checkbox">
							<label>Used</label>
						</fieldset>
					</div>
					<div class="widget">
						<h3>Price range:</h3>
						<fieldset>
							<div id="price-range"></div>
						</fieldset>
					</div>
				</aside>
				<div id="content">
					<section class="products">
						<article>
							<a href="{{ path('app_product', {'id': 1}) }}"><img src="{{ asset('images/11.jpg') }}" alt=""></a>
							<h3><a href="{{ path('app_product', {'id': 1}) }}">Lorem ipsum dolor</a></h3>
							<h4><a href="{{ path('app_product', {'id': 1}) }}">$990.00</a></h4>
							<a href="{{ path('app_cart') }}" class="btn-add">Add to cart</a>
						</article>
						<article>
							<a href="{{ path('app_product', {'id': 1}) }}"><img src="{{ asset('images/12.jpg') }}" alt=""></a>
							<h3><a href="{{ path('app_product', {'id': 1}) }}">cupidatat non proident</a></h3>
							<h4><a href="{{ path('app_product', {'id': 1}) }}">$1 200.00</a></h4>
							<a href="{{ path('app_cart') }}" class="btn-add">Add to cart</a>
						</article>
						<article>
							<a href="{{ path('app_product', {'id': 1}) }}"><img src="{{ asset('images/13.jpg') }}" alt=""></a>
							<h3><a href="{{ path('app_product', {'id': 1}) }}">Duis aute irure</a></h3>
							<h4><a href="{{ path('app_product', {'id': 1}) }}">$2 650.00</a></h4>
							<a href="{{ path('app_cart') }}" class="btn-add">Add to cart</a>
						</article>
						<article>
							<a href="{{ path('app_product', {'id': 1}) }}"><img src="{{ asset('images/14.jpg') }}" alt=""></a>
							<h3><a href="{{ path('app_product', {'id': 1}) }}">magna aliqua</a></h3>
							<h4><a href="{{ path('app_product', {'id': 1}) }}">$3 500.00</a></h4>
							<a href="{{ path('app_cart') }}" class="btn-add">Add to cart</a>
						</article>
						<article>
							<a href="{{ path('app_product', {'id': 1}) }}"><img src="{{ asset('images/15.jpg') }}" alt=""></a>
							<h3><a href="{{ path('app_product', {'id': 1}) }}">Lorem ipsum dolor</a></h3>
							<h4><a href="{{ path('app_product', {'id': 1}) }}">$1 500.00</a></h4>
							<a href="{{ path('app_cart') }}" class="btn-add">Add to cart</a>
						</article>
						<article>
							<a href="{{ path('app_product', {'id': 1}) }}"><img src="{{ asset('images/1.jpg') }}" alt=""></a>
							<h3><a href="{{ path('app_product', {'id': 1}) }}">cupidatat non proident</a></h3>
							<h4><a href="{{ path('app_product', {'id': 1}) }}">$3 200.00</a></h4>
							<a href="{{ path('app_cart') }}" class="btn-add">Add to cart</a>
						</article>
						<article>
							<a href="{{ path('app_product', {'id': 1}) }}"><img src="{{ asset('images/16.jpg') }}" alt=""></a>
							<h3><a href="{{ path('app_product', {'id': 1}) }}">Duis aute irure</a></h3>
							<h4><a href="{{ path('app_product', {'id': 1}) }}">$2 650.00</a></h4>
							<a href="{{ path('app_cart') }}" class="btn-add">Add to cart</a>
						</article>
						<article>
							<a href="{{ path('app_product', {'id': 1}) }}"><img src="{{ asset('images/17.jpg') }}" alt=""></a>
							<h3><a href="{{ path('app_product', {'id': 1}) }}">magna aliqua</a></h3>
							<h4><a href="{{ path('app_product', {'id': 1}) }}">$3 500.00</a></h4>
							<a href="{{ path('app_cart') }}" class="btn-add">Add to cart</a>
						</article>
					</section>
				</div>
				<!-- / content -->
			</div>
			<div class="pagination">
				<ul>
					<li><a href="#"><span class="ico-prev"></span></a></li>
					<li><a href="#">1</a></li>
					<li class="active"><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#"><span class="ico-next"></span></a></li>
				</ul>
			</div>
		</div>
		<!-- / container -->
	</div>
  {% endblock %}  