{% extends 'base.html.twig' %}

{% block title %}
    <title>Change Password</title>
{% endblock %}

{% block body %}
<div class ='container'>
<h1>Change Password</h1>

{% for type, messages in app.flashes %}
    {% for msg in messages %}
        <div class="alert alert-{{ type }}">{{ msg }}</div>
    {% endfor %}
{% endfor %}

{{ form_start(changePasswordForm) }}

{{ form_row(changePasswordForm.newPassword.first) }}
{{ form_row(changePasswordForm.newPassword.second) }}

<button class="btn btn-primary mt-2">Update Password</button>

{{ form_end(changePasswordForm) }}

<p class="mt-3">
    <a href="{{ path('app_home') }}">Back to Home</a>
</p>
</div>
{% endblock %}
