<nav id="menu">
		<div class="container">
			<div class="trigger"></div>
			<ul>
			    <li><a href={{ path('app_products') }}>New collection</a></li>
				<li><a href={{ path('app_products') }}>necklaces</a></li>
				<li><a href={{ path('app_products') }}>earrings</a></li>
				<li><a href={{ path('app_products') }}>Rings</a></li>
				<li><a href={{ path('app_products') }}>Gift cards</a></li>
				<li><a href={{ path('app_products') }}>Promotions</a></li>
			</ul>
		</div>
</nav>